<div class="footer bg-green-200 shadow-sm p-10">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-7 sm:gap-10 items-start">
    <div class="footer-info flex flex-col gap-3">
      <div class="footer-logo flex gap-1">
        <span class="text-3xl sm:text-5xl font-bold">CatHouse</span>
        <img
          class="w-8 h-8"
          src="../../../../assets/images/pet-care.png"
          alt="Logo Image"
        />
      </div>
      <p>
        This website is created for all cat lovers. Here, you will find detailed
        information about various breeds, their temperament, care requirements,
        and history. Our goal is to help you better understand your furry
        friends and make their lives even happier.
      </p>
    </div>
    <div class="contacts flex flex-col gap-4 md:m-auto">
      <h2 class="text-2xl uppercase font-semibold">Contacts</h2>
      <ul class="text-lg">
        <li class="flex gap-2">
          <i class="bi bi-telephone-fill"></i
          ><a href="tel:+380981234567">Tel: +38(098)1234567</a>
        </li>
        <li class="flex gap-2">
          <i class="bi bi-envelope-at-fill"></i
          ><a href="mailto:cathouse&#64;gmail.com"
            >Email: cathouse&#64;gmail.com</a
          >
        </li>
        <li class="flex gap-2">
          <i class="bi bi-geo-alt-fill"></i>Address: Vinnitsia
        </li>
      </ul>
      <div class="social text-4xl flex gap-4">
        <a
          class="hover:text-gray-700 hover:scale-125 transition delay-300 duration-300 ease-in-out"
          href=""
          target="_blank"
          ><i class="bi bi-tiktok"></i
        ></a>
        <a
          class="hover:text-gray-700 hover:scale-125 transition delay-300 duration-300 ease-in-out"
          href=""
          target="_blank"
          ><i class="bi bi-facebook"></i
        ></a>
        <a
          class="hover:text-gray-700 hover:scale-125 transition delay-300 duration-300 ease-in-out"
          href=""
          target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
        <a
          class="hover:text-gray-700 hover:scale-125 transition delay-300 duration-300 ease-in-out"
          href=""
          target="_blank"
          ><i class="bi bi-telegram"></i
        ></a>
      </div>
    </div>
    <app-subscribe></app-subscribe>
  </div>
</div>
<div class="copyright py-5 text-center bg-green-400">©CatHouse 2024</div>
